.heading,
.feed-h2 {
  text-align: center;
  color: var(--secondary-color);
  padding: 0 6.5rem;
}
.heading h1 {
  margin-bottom: 0;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.heading i {
  font-size: 1.25rem;
}

.tagline-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------CAROUSEL--------------------*/

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-img-container {
  width: 100%;
  height: 15rem;
  margin: 2rem 0;
}

.carousel-img-container img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

/*--------------------THUMBNAIL GRID--------------------*/

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); /*(2, 1fr)*/
  /*justify-items: center;*/
  gap: 1rem;
  margin: 2rem 1rem;
}

/*Add this class to new blog thumbnail with classList.add()*/
.thumbnail {
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
}

.thumbnail h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 1.5rem;
  line-height: 1.25rem;
}

.thumbnail p {
  padding: 0 0 0.6rem 0;
  font-size: 0.75rem;
}

.likes {
  color: var(--primary-color);
}

.img-container {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .carousel-img-container {
    height: 20rem;
  }
  .thumbnail-grid {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
  .thumbnail h3 {
    font-size: 1.375rem;
    margin: 1rem 2.6rem;
  }
  .thumbnail p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .carousel-img-container {
    height: 30rem;
  }
  .thumbnail-grid {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
  .thumbnail h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  main {
    margin: 0 2rem;
  }
}

@media (min-width: 1400px) {
  main {
    margin: 0 7rem 0 7rem;
  }
}
@media (min-width: 1600px) {
  main {
    margin: 0 17rem 0 17rem;
  }
}
