.heading,
.feed-h2 {
  text-align: center;
  color: var(--secondary-color);
  padding: 0 6.5rem;
}
.heading h1 {
  margin-bottom: 0;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.heading i {
  font-size: 1.25rem;
}

.tagline-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------CAROUSEL--------------------*/

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-img-container {
  width: 100%;
  height: 15rem;
  margin: 2rem 0;
}

.carousel-img-container img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.carousel-button {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: var(--primary-color);
}

.next {
  right: 5%;
}

.previous {
  left: 5%;
}
#view-recipe-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

/*--------------------THUMBNAIL GRID--------------------*/

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  margin: 2rem 1rem;
}

/*Add this class to new blog thumbnail with classList.add()*/
.thumbnail {
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
}

.thumbnail h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 1.5rem;
  line-height: 1.25rem;
}

.thumbnail p {
  padding: 0 0 0.6rem 0;
  font-size: 0.75rem;
}

.likes {
  color: var(--primary-color);
}

.img-container {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 544px) {
  .thumbnail-grid {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
@media (min-width: 768px) {
  .carousel-img-container {
    height: 20rem;
  }
  .thumbnail-grid {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    margin: 2rem 2.2rem;
  }
  .thumbnail h3 {
    font-size: 1.375rem;
    margin: 1rem 2.6rem;
  }
  .thumbnail p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .carousel-img-container {
    height: 30rem;
  }
  .thumbnail-grid {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
  .thumbnail h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

@media (min-width: 1200px) {
  main {
    margin: 0 4rem 0 4rem;
  }
  .thumbnail-grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@media (min-width: 1400px) {
  main {
    margin: 0 8rem 0 8rem;
  }
}
@media (min-width: 1600px) {
  main {
    margin: 0 17rem 0 17rem;
  }
}
