.blog-post-form {
  background-color: var(--background-color);
  margin: 2rem 1rem;
  padding: 1rem;
  max-width: 50rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field input {
  border-radius: 0.3rem;
  border: 1px solid var(--secondary-color);
}

#title,
#imageURL {
  height: 2rem;
}

.helper-text {
  margin: 0.5rem 0;
}

#create-error {
  margin: 0;
}

/*----------------------------Edit blog post----------------------------*/
.form-actions {
  display: flex;
  flex-direction: column;
}

#delete-button {
  padding: 0.4rem 4.3rem;
  background-color: #ff0000;
  color: black;
  border: none;
  border-radius: 5%;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
  cursor: pointer;
}
#delete-button:hover {
  background-color: #7f0000;
  color: white;
}
@media (min-width: 768px) {
  .blog-post-form {
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 45rem;
  }
}
