:root {
  --background-color: #f6efe8;
  --primary-color: #e6b7b2;
  --secondary-color: #4b2e2b;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

/*----------------FOOTER GLOBAL----------------*/
.site-content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.social-media,
.tagline {
  color: var(--secondary-color);
}
footer {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}
.social-media {
  text-align: center;
}
.footer-logo a {
  display: flex;
  justify-content: center;
}
.footer-logo img {
  width: 35%;
  height: auto;
}
.tagline {
  text-align: center;
  width: 12rem;
}
