:root {
  --background-color: #f6efe8;
  --primary-color: #e6b7b2;
  --secondary-color: #4b2e2b;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}
